@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #eeeeee;
}

/* .theme-color  */
.theme-color {
  color: #00adb5;
}

/* header ----------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  height: 5rem;
  align-items: center;
  /* background-color: #cbf1f5; */

  #my-name {
    font-size: 32px;
    font-weight: 900;
  }

  .navs {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    list-style: none;
    font-weight: 500;

    /* background-color: purple; */

    gap: 3rem;
  }
  .navs a {
    position: relative;
    text-decoration: none;
    color: #222831;
  }
  .navs a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #00adb5;
    border-radius: 6px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
  }

  .navs a:hover::before {
    width: 100%;
  }
}

/* home---------------------------- */

#home {
  display: flex;
  width: 65%;
  margin: 0 auto;
  /* background-color: orange; */
  padding-top: 8rem;

  .intro-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    /* background-color: green; */
    width: 50%;

    .main-title-intro {
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
    }
  }
  .image-part {
    /* background-color: red; */
    width: 50%;
  }
  .image-part img {
    width: 100%;
    height: 700px;
    /* filter: drop-shadow(0 0 10px #00adb5); */
    animation: glow 0.8s alternate infinite;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 8px #00adb5);
  }
  100% {
    filter: drop-shadow(0 0 12px #00adb5);
  }
}
/* about ----------------------------*/
#about {
  width: 65%;
  height: 100vh;
  margin: 5rem auto;
  /* background-color: pink; */
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#about .about-me-title {
  font-size: 36px;
  font-weight: bold;
}
.about-contents {
  display: flex;
  gap: 3rem;
  padding: 0 1rem;
  .about-image {
    width: 60%;
  }
  .about-image img {
    width: 100%;
    box-shadow: 10px 10px 10px #393e46;
  }
}
.about-headings,
.about-i-love {
  font-size: 22px;
}

.changing-names {
  position: relative;
  overflow: hidden;
}
.changing-names::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  border-left: 2px solid #222831;
  animation: showtext 3s steps(12) infinite;
}

@keyframes showtext {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.light-mode::before {
  background-color: #eeeeee;
  color: #222831;
}

.dark-mode::before {
  background-color: #393e46;
  color: #00adb5;
  border-left: 2px solid #00adb5;
}
