@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #eeeeee;
}

/* .theme-color  */
.theme-color {
  color: #00adb5;
}

/* header ----------------------------------- */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  height: 5rem;
  align-items: center;
  /* background-color: #cbf1f5; */

  #my-name {
    font-size: 32px;
    font-weight: 900;
  }

  .navs {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    list-style: none;
    font-weight: 500;

    /* background-color: purple; */

    gap: 3rem;
  }
  .navs a {
    position: relative;
    text-decoration: none;
    color: #222831;
  }
  .navs a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #00adb5;
    border-radius: 6px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
  }

  .navs a:hover::before {
    width: 100%;
  }
}

/* popnav--------------- */
#popnav {
  display: flex;
  flex-direction: column;
  height: 20rem;
  /* background-color: #eeeeee; */
  /* background-color: orangered; */
  margin-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 8px;
}
#popnav a {
  position: relative;
  text-decoration: none;
  color: #222831;
  padding: 0.2rem 0;
}
#popnav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00adb5;
  border-radius: 6px;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}
#popnav a:hover::before {
  width: 100%;
}
#mode-change-btn {
  margin: 0.2rem 0;
}
#scroll-to-top {
  margin-top: 1rem;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #393e46;
  &:hover {
    font-size: 18px;
  }
}
.popnav-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: plum; */
}
.popnav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00adb5;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: 3px 3px 4px #393e46;

  &:hover {
    outline: 2px solid black;
    outline-offset: -2px;
  }
}
.popnav-icon i {
  font-size: 32px;
}
.nav-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* home---------------------------- */

#home {
  display: flex;
  width: 65%;
  margin: 0 auto;
  /* background-color: orange; */
  padding-top: 8rem;

  .intro-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    /* background-color: green; */
    width: 50%;

    .main-title-intro {
      font-size: 40px;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
    }
  }
  .image-part {
    /* background-color: red; */
    width: 600px;
  }
  .image-part img {
    width: 100%;
    height: 700px;
    /* filter: drop-shadow(0 0 10px #00adb5); */
    animation: glow 0.8s alternate infinite;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 8px #00adb5);
  }
  100% {
    filter: drop-shadow(0 0 12px #00adb5);
  }
}
/* about ----------------------------*/
#about {
  width: 65%;
  height: 100vh;
  margin: 5rem auto;
  /* background-color: pink; */
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#about .about-me-title {
  font-size: 36px;
  font-weight: bold;
}
.about-contents {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem;
  .about-image {
    width: 300px;
    height: 300px;
    /* background-color: green; */
  }
  .about-image img {
    width: 100%;
    box-shadow: 10px 10px 10px #393e46;
  }
  .about-me {
    /* background-color: purple; */
    width: 500px;
  }
}
.about-headings,
.about-i-love {
  font-size: 22px;
}

.changing-names {
  position: relative;
  overflow: hidden;
}
.changing-names::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  border-left: 2px solid #222831;
  animation: showtext 3s steps(12) infinite;
}

@keyframes showtext {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
.light-mode::before {
  /* background-color: #ffff; */
  color: #222831;
}

.dark-mode::before {
  background-color: #393e46;
  color: #00adb5;
  border-left: 2px solid #00adb5;
}

/* projects ------------------------- */

#projects {
  width: 65%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#projects h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.popular-project {
  display: flex;
  flex-direction: column;
  width: 550px;
  border: 2px solid #222831;
}
.project-image {
  width: 100%;
  height: 340px;
  position: relative;
  cursor: pointer;
}
.project-image::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.project-image img {
  width: 100%;
  height: 340px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

  .project-name {
    font-size: 22px;
    margin-top: 1rem;
  }
  .project-details {
    text-align: center;
  }
  .project-build-languages i {
    font-size: 22px;
    margin-left: 0.4rem;
  }
  .see-visit-project {
    display: flex;
    gap: 1.5rem;
  }
}
.link-tag {
  position: relative;
  text-decoration: none;
  color: #222831;
  padding-bottom: 0.3rem;
}
.link-tag::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #00adb5;
  border-radius: 6px;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.link-tag:hover::before {
  width: 100%;
}

/* contact ------------------- */

#contact {
  width: 65%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-title {
    font-size: 34px;
    margin: 2rem 0;
    font-weight: 600;
  }
  .contact-details form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .contact-details form label {
    display: block;
    margin-bottom: 0.2rem;
  }
  .contact-details form input,
  textarea {
    border-radius: 6px;
    border: 1px solid #00adb5;
    font-size: 16px;
    outline: none;
    color: #00adb5;
    padding-left: 0.5rem;
  }
  .submit-button {
    position: relative;
    width: 110px;
    border: none;
    height: 40px;
    background-color: #00adb5;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  .contact-social-media {
    display: flex;
    margin-top: 1.6rem;
    gap: 0.8rem;
  }
  .contact-social-media i {
    font-size: 20px;

    &:hover {
      font-size: 21px;
    }
  }
}

/* last part  */
#copyright-part {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #000000;
  color: #eeeeee;
}

/* media query >>responsive  */

@media (max-width: 1100px) {
  #home {
    width: 85%;
  }
  #about {
    width: 85%;
  }
  #projects {
    width: 85%;
  }
  #contact {
    width: 85%;
  }
}

/* change nav here  */
@media (max-width: 950px) {
  #home {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-part {
    width: 200px;
  }
  .image-part img {
    width: 100%;
    height: 100px;
  }
  #about {
    width: 95%;
    .about-contents {
      flex-direction: column;
    }
  }
  #projects {
    width: 95%;
  }
  #contact {
    width: 95%;
  }
}
